$white: rgb(240, 240, 240);
$black: rgb(15, 15, 15);
$red: rgb(240, 0, 0);

// !! Currently only works at 1300 > pixels !!

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $black;
}

#top-navbar {
    width: 100vw;
    background-color: $black;
    min-height: 3rem;

    display: flex;
    justify-content: left;
    align-items: center;

    p {
        font-size: 2.5rem;
        color: $white;
        margin: 0;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.25rem;
    }
    h1,
    h1 a {
        font-size: 2rem;
        color: $white;
        font-style: italic;
        margin: 0;
        margin-bottom: 0.25rem;
        margin-left: 0.25rem;
    }
    h2,
    h2 a {
        font-size: 1.75rem;
        color: $white;

        text-decoration: none;
        font-style: italic;
        margin: 0;
    }
}

#mid-navbar {
    width: 100vw;
    background-color: $red;
    max-height: 2.25rem;

    display: flex;
    justify-content: left;
    align-items: center;

    h2:first-of-type {
        margin-left: 1rem;
    }
    p {
        font-size: 2.5rem;
        color: $white;
        margin: 0;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.25rem;
    }
    h2,
    h2 a {
        font-size: 1.5rem;
        color: $white;

        text-decoration: none;
        font-style: italic;
        margin: 0;
    }
}

#main {
    background-color: $white;
    * {
        margin: 0;
        padding: 0;
    }
    display: flex;
    justify-content: center;

    #main-left {
        border: 2px solid red;
        width: 60vw;
        padding: 2rem;
        .title {
            h1 {
                font-size: 3rem;
                letter-spacing: 2px;
            }
        }
        .author {
            padding: 2rem;
            padding-bottom: 0;
            p {
                font-size: 1.5rem;
            }
        }
        .readtime {
            padding: 2rem;
            padding-top: 0;
            padding-bottom: 0;
            p {
                font-size: 1.5rem;
            }
        }
        .paragraph {
            padding: 2rem;
            padding-bottom: 0;
            padding-top: 0;
            p {
                font-size: 1.25rem;
            }
        }
        .ad {
            margin: 2rem;
            padding: 2rem;
            border: 2px solid black;
            height: 10rem;
        }
    }
    #main-right {
        border: 1px solid green;
        width: 30vw;
    }
}

#footer {
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    * {
        font-size: 1.5rem;
    }
}
